[user]
name = Alexandre Chaussier
email = a.chaussier@infopen.pro
[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
        interactive = auto
[alias]
        co = checkout
        br = branch
        ci = commit
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        gol = log --graph --pretty=format:\"%C(yellow)%h%Cred%d%Creset %s %C(white) %Cgreen(%ar) %C(blue)%an%Creset\"
        l = log --oneline --decorate
        d = diff --word-diff
        s = status -sb
[core]
        editor = vim
[merge]
        conflictstyle = diff3
[push]
	default = current
